/* ==========================================================================
   Radio Buttons - PLM Edit

========================================================================== */
@keyframes radio-ripple {
    0% {
        box-shadow: 0px 0px 0px 1px rgba(25,127,162,0)
    }

    50% {
        box-shadow: 0px 0px 0px 13px rgba(25,127,162,0.2)
    }

    100% {
        box-shadow: 0px 0px 0px 13px rgba(25,127,162,0)
    }
}
.radio {
    margin: 0 0 8px 0;
    label {
        display: inline-block;
        vertical-align: top;
        position: relative;
        padding: 2px 13px 2px 20px;
        margin: 0 0 0 -2px;
        cursor: pointer;
        border: none;
        &:before,
        &:after {
            position: absolute;
            box-sizing: border-box;
            content: '';
            border-radius: 50%;
            transition-property: transform, border-color;
        }
        &:before {
            left: 0;
            top: 0;
            width: 18px;
            height: 18px;
            border: 1px solid;
            border-color: #464646;
        }
        &:after {
            top: 4px;
            left: 4px;
            width: 10px;
            height: 10px;
            transform: scale(0);
            background: #197fa2;
        }
        input[type="radio"] {
            opacity: 0;
            height: 0;
            width: 0;
        }
    }
    &:checked+.label:before {
        animation: radio-ripple 0.7s forwards ease-out;
        border-color: #197fa2;
    }
    &:not(:checked):hover+label:before {
        border: solid 4px #197fa2;
    }
}